body {
  font-family: sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

a {
  color: #eeeeee;
  font-size: 1.2rem;
  text-decoration: none;
}

.jir,
.otal{
  padding: 0.5rem;
  background-color: #ffffff;
  color: #000000;
  display: inline-block;
}

.jir {
  border: 2px solid #ff0000;
  border-radius: 25px 0 0 25px;
  margin: 10px 0 0 10px;
  padding-right: 1px;
}

.otal {
  border: 2px solid #ffff00;
  border-radius: 0 25px 25px 0;
  margin-top: 10px;
  padding-left: 1px;
}

#root {
  display: grid;
  grid-template-areas:
    "header"
    "navigation"
    "main"
  ;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 10fr;
  min-height: 100vh;
}

.header {
  background-color: #e6c5ac;
  grid-area: header;
}

.navigation {
  background-color: #315a7b;
  grid-area: navigation;
}

.navigation a {
  display: inline-block;
  padding: .5rem 1rem;
  border-right: 1px solid #FFF;
  height: 100%;
}
  .navigation a:last-child{
    border-right: none;
  }

main {
  background-color: #acaccd;
  grid-area: main;
  min-height: 100%;
  padding: 0 2.5rem;
}

.landing {
  background-color: #414183;
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "section1 section2"
    "section3 section4"
  ;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.landing > section:nth-child(1) {
  background-color: #7383ac;
  grid-area: section1;
}

.landing > section:nth-child(2) {
  background-color: #189c94;
  grid-area: section2;
}

.landing > section:nth-child(3) {
  background-color: #bd314a;
  grid-area: section3;
}

.landing > section:nth-child(4) {
  background-color: #ff5241;
  grid-area: section4;
}

.kanban {
  background-color: #103941;
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "todo doing review testing pwner scrra ready done"
  ;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
}

@media screen and (max-width: 85rem) {
  body {
    font-size: 20px;
  }

  .landing {
    grid-template-areas:
      "section1"
      "section2"
      "section3"
      "section4"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .kanban {
    grid-template-areas:
      "todo"
      "doing"
      "review"
      "testing"
      "pwner"
      "scrra"
      "ready"
      "done"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
  .navigation{
    text-align: center;
  }
  .navigation a{
    border-right: none;
    border-bottom: 1px solid #FFF;
    padding: .5rem 0;
    display: block;
    height: auto;
  }
}

.todo {
  background-color: #528bac;
  grid-area: todo;
}

.doing {
  background-color: #f6d5bd;
  grid-area: doing;
}

.review {
  background-color: #a47352;
  grid-area: review;
}

.testing {
  background-color: #ffffff;
  grid-area: testing;
}

.pwner {
  background-color: #625120;
  grid-area: pwner;
}

.scrra {
  background-color: #cdcdcd;
  grid-area: scrra;
}

.ready {
  background-color: #73a4bd;
  grid-area: ready;
}

.done {
  background-color: #737373;
  grid-area: done;
}

article {
  background-color: #5a7b6a;
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  width: 100%;
}

form {
  grid-column-start: 2;
}

fieldset {
  background-color: #294a52;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  width: 400px;
}
