body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.kanban {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "header header header header  header header header header"
    "todo   doing  review testing pwner  scrra  ready  done  "
    ;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 50px 1fr;
  height: 100vh;
}

@media screen and (max-width: 900px) {
  .kanban {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
      "header"
      "todo"
      "doing"
      "review"
      "testing"
      "pwner"
      "scrra"
      "ready"
      "done"
      ;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr repeat(8, 1fr);
    height: 100vh;
  }
}

.header {
  background-color: #cccccc;
  grid-area: header;
  min-height: 50px;
}

.todo {
  background-color: #ccccff;
  grid-area: todo;
  min-height: 100px;
}

.doing {
  background-color: #ccffcc;
  grid-area: doing;
  min-height: 100px;
}

.review {
  background-color: #ffcccc;
  grid-area: review;
  min-height: 100px;
}

.testing {
  background-color: #ccffff;
  grid-area: testing;
  min-height: 100px;
}

.pwner {
  background-color: #ffccff;
  grid-area: pwner;
  min-height: 100px;
}

.scrra {
  background-color: #ffffcc;
  grid-area: scrra;
  min-height: 100px;
}

.ready {
  background-color: #aaaaff;
  grid-area: ready;
  min-height: 100px;
}

.done {
  background-color: #aaffaa;
  grid-area: done;
  min-height: 100px;
}
