body {
  font-family: sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

a {
}

.jir {
  border: 2px solid #ff0000;
  border-radius: 25px 0 0 25px;
  background-color: #ffffff;
}

.otal {
  border: 2px solid #ffff00;
  border-radius: 0 25px 25px 0;
  background-color: #ffffff;
}

#root {
  display: grid;
  grid-template-areas:
    "header"
    "navigation"
    "main"
  ;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 25px 1fr;
  min-height: 100vh;
}

.header {
  background-color: #e6c5ac;
  grid-area: header;
}

.navigation {
  background-color: #315a7b;
  grid-area: navigation;
}

main {
  background-color: #acaccd;
  grid-area: main;
  min-height: 100%;
  padding: 0 2.5rem;
}

.landing {
  background-color: #414183;
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "section1 section2"
    "section3 section4"
  ;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.landing > section:nth-child(1) {
  background-color: #7383ac;
  grid-area: section1;
}

.landing > section:nth-child(2) {
  background-color: #189c94;
  grid-area: section2;
}

.landing > section:nth-child(3) {
  background-color: #bd314a;
  grid-area: section3;
}

.landing > section:nth-child(4) {
  background-color: #ff5241;
  grid-area: section4;
}

.kanban {
  background-color: #103941;
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "todo doing review testing pwner scrra ready done"
  ;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 20px;
  }

  .landing {
    grid-template-areas:
      "section1"
      "section2"
      "section3"
      "section4"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .kanban {
    grid-template-areas:
      "todo"
      "doing"
      "review"
      "testing"
      "pwner"
      "scrra"
      "ready"
      "done"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }
}

.todo {
  background-color: #528bac;
  grid-area: todo;
}

.doing {
  background-color: #f6d5bd;
  grid-area: doing;
}

.review {
  background-color: #a47352;
  grid-area: review;
}

.testing {
  background-color: #ffffff;
  grid-area: testing;
}

.pwner {
  background-color: #625120;
  grid-area: pwner;
}

.scrra {
  background-color: #cdcdcd;
  grid-area: scrra;
}

.ready {
  background-color: #73a4bd;
  grid-area: ready;
}

.done {
  background-color: #737373;
  grid-area: done;
}
